.App {
  text-align: center;
  background-color: rgb(247, 231, 218);
}
span {
  display: flex;
  flex-direction: column;
}
#defaultpage {
  /* width: 30%; */
  height: 100%;
  background-color: rgb(247, 231, 218);
}
#aboutpage {
  width: 100%;
}

#body {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(241, 157, 83);
  height: 100px;
}
